{% extends 'TIL_App/TIL_base.html' %}

{% block appcontent %}

  <div class="middle-center">
    <div class="inner-center text-center background-white-trans">
        <h1>Did You Know?</h1>
        <h3>Learn something new at a click of a button</h3>
        <br>

        <!-- <div class="content-text"> -->
          <p class="break-text">{{post.title}}</p>
        <!-- </div> -->
        <br>

        <div class="float-box-large">
          <a target="_blank" class='btn btn-lg btn-dark' style="width:100%" href="{{post.post_url}}">Go to Reddit post</a>
        </div>

        <div class="float-box-large">
          <a target="_blank" class='btn btn-lg btn-dark' style="width:100%" href="{{post.external_url}}">Learn more</a>
        </div>

        <div class="float-box-large">
          <a class='btn btn-lg btn-dark' style="width:100%" href="{% url 'TIL:tell_me' pk=next_pk %}">Tell me something else</a>
        </div>
      </div>
    </div>

{% endblock %}

{% block bottom_btn %}
<a class='btn btn-sm btn-dark' href="{% url 'TIL:about' %}">About this page</a>
{% endblock %}
